#export LANGUAGE=en_CA
#export LC_ALL=
#export LANG=en_CA.UTF-8
#export LC_CTYPE=en_CA.UTF-8

export plum_dir="$HOME/plum"
#export rime_dir="$HOME/.local/share/fcitx5/rime"
export rime_dir="$HOME/plum/output"
#export rime_frontend=fcitx-rime

#GTK_IM_MODULE=fcitx
#QT_IM_MODULE=fcitx
#XMODIFIERS=@im=fcitx
#GLFW_IM_MODULE=ibus # KITTY

#export GDK_BACKEND=wayland
#export XDG_SESSION_TYPE=wayland
#export NIXOS_OZONE_WL=1

export PATH="$HOME/.local/bin:$HOME/scripts:$HOME/wm.sh:$PATH"
#export NIX_PATH=$HOME/.nix-defexpr/channels:/nix/var/nix/profiles/per-user/root/channels${NIX_PATH:+:$NIX_PATH}
[ -f $HOME/.nix-profile/etc/profile.d/hm-session-vars.sh ] && source $HOME/.nix-profile/etc/profile.d/hm-session-vars.sh

# Node
export NEXT_TELEMETRY_DISABLED=1
export GATSBY_TELEMETRY_DISABLED=1

# CARGO
export PATH=$PATH:$HOME/.cargo/bin
export PATH=$PATH:$GOROOT/bin
export GOPATH=$HOME/go # the first path in GOPATH is always used to install external packages
export PATH=$PATH:$GOPATH/bin
export GOPATH=$GOPATH:$HOME/ws/scripts:$HOME/ws/gt
export PYTHONDONTWRITEBYTECODE=1

# Ruby
export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
export PATH="$PATH:$GEM_HOME/bin"

# Arduino
#export ARDCONFIG=${XDG_CONFIG_HOME}/arduino-cli/config.yaml

# GPG --> https://stackoverflow.com/questions/41052538/git-error-gpg-failed-to-sign-data
export GPG_TTY=$(tty)

