$PERS="/mnt/nas/personal"
$MEDI="/mnt/nas/media"
$BACK="/mnt/nas/backup"
$ARCH="/mnt/nas/archival"
$WORK="~/workspace"
$CFTP="~/SFTP"
$CGIT="~/workspace/Git"
$CHES="~/chess"
$DOTF="~/workspace/Git/DotFiles"
$DOWN="~/Downloads"
$DOCS="~/Documents"
$PICS="~/Pictures"
$DESK="~/Desktop"

