*.log
log/

# ZSH
.oh-my-zsh/custom/plugins/*

# SCID VS PC
.scidvspc/config/history.dat
.scidvspc/config/recent.dat

# Better Discord
emote_data.json
.config/BetterDiscord/plugins/BadgesEverywhere.config.json
.config/BetterDiscord/plugins/Guild\ And\ Friend\ Removal\ Alerts.config.json
.config/BetterDiscord/bdstorage.json

# Vim Swap Files
*.swp

# Vim-Plug Plugins
.config/nvim/plugged
