[submodule "BetterDiscord"]
	path = BetterDiscord
	url = https://github.com/Nathan13888/BetterDiscord
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k

[submodule "fcitx5-nord"]
	path = fcitx5-nord
	url = git@github.com:tonyfettes/fcitx5-nord.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
