*.old
*.log
log/
logs/
tmp/
TODO.md

# Spicetify
spicetify/Backup
spicetify/Extracted

# i3
i3/*.o

# Hyperland
.config/hypr/hyprland.conf

# Xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

# OBS
obs-studio/profiler_data

# VIFM
vifm/vifminfo.json

# NVIM
.netrwhist

# ZSH
.oh-my-zsh/custom/plugins/*

# SCID VS PC
.scidvspc/config/history.dat
.scidvspc/config/recent.dat

powercord/

.config/EnhancedDiscord

emote_data.json
BadgesEverywhere.config.json
Guild\ And\ Friend\ Removal\ Alerts.config.json
GoogleTranslateOption.config.json
MLV2_IMAGE_CACHE
MessageLoggerV2Data.config.json
BetterDiscord/plugins/MessageLoggerV2DataBackup.config.json
BetterDiscord/plugins/ImageUtilities.config.json
BetterDiscord/bdstorage.json
BetterDiscord/Cookies*
BetterDiscord/Cache
BetterDiscord/GPUCache
BetterDiscord/Code Cache
BetterDiscord/Local Storage
BetterDiscord/Session Storage
BetterDiscord/Dictionaries
BetterDiscord/Preferences
BetterDiscord/Network Persistent State
BetterDiscord/data

# Vim Swap Files
*.swp

# Vim-Plug Plugins
.config/nvim/plugged
