[user]
	name = Nathan13888
	email = 29968201+Nathan13888@users.noreply.github.com
[core]
	editor = /usr/bin/nano
	autocrlf = input
[credential]
	helper = store
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	diff = auto
	status = auto
	branch = auto
[color "status"]
	added = green
	changed = blue
	untracked = red 
[color "diff"]
	meta = yellow
	old = red 
	new = green
[alias]
	st = status -sb
	versions = tag -l --sort=version:refname
	br = branch -vv --all
	save = commit -a -m "Save"
	ca = commit
	caa = commit -a
	sta = stage
	co = checkout
	mnff = merge --no-ff
	pp = !git pull && git push
	pl = pull
	pu = push
	a = add
	aa = add .
	lg = log -p
	gr = log --graph --format=line # graph
	grd = log --graph --format=detail # graph detail
	gra = log --graph --format=line --all # graph all
	grad = log --graph --format=detail --all # graph all in detail
	credit = shortlog -sn
	showtool = ! "st() { if [ -z $1 ]; then c='HEAD'; else c=$1; fi; git difftool $c~..$c; }; st"
	info = ! "inf() { if git rev-parse ${1} >/dev/null 2>&1; then git cat-file -p $(git rev-parse ${1}); else echo Invalid object; fi }; inf"

[hub]
	protocol = https
