/**
 * @name BlurpleRecolor
 * @description Replace discords native blurple with your own color, change color in themefile
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BlurpleRecolor
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BlurpleRecolor/BlurpleRecolor.theme.css
 * @updateUrl https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BlurpleRecolor/BlurpleRecolor.theme.css
 */

/* To change stuff like the colors, transparency and background image, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--accentcolor:			253,170,170;		/*	blurple	-	default:	114,137,218		*/
	--linkcolor:			115,255,183;		/*	link	-	default:	0,176,244		*/
}
